<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
	</head>

	<body>

		<body>

</html>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- （必选）加载 Mock -->
<script type="text/javascript" src="http://mockjs.com/dist/mock.js"></script>
<script type="text/javascript">
	$(function() {
		/*Mock.mock(/\.json/, {
		    'code':'000',
		    'message':'message信息',
		    'list|1-10': [{
		        'id|+1': 1,
		        'email': '@EMAIL',
		        'name': '@name'
		    }]
		})*/
		Mock.mock(/\.json/, {
					"ret": "0",
					"returnData": {
						"id": "54554544654",
						"atname": "教育机器人对话库",
						"idAc": "48646854654",
						"be_quoted": "155",
						"isShare": "0",
						"state": "1",
						"singleDialog": {
							"page": "1",
							"size": "10",
							"total": "100",
							"list ":[ {
							"isI": "0",
							"aword": "今天深圳天气怎么样",
							"answer": "今天天气晴",
							"keyword": "{time} {cityname} 天气",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "1",
							"aword": "近两小时会下雨吗",
							"answer": "预计深圳近两小时无降雨",
							"keyword": "两小时 下雨",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "0",
							"aword": "今天深圳天气怎么样",
							"answer": "今天天气晴",
							"keyword": "{time} {cityname} 天气",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "1",
							"aword": "近两小时会下雨吗",
							"answer": "预计深圳近两小时无降雨",
							"keyword": "两小时 下雨",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "0",
							"aword": "今天深圳天气怎么样",
							"answer": "今天天气晴",
							"keyword": "{time} {cityname} 天气",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "1",
							"aword": "近两小时会下雨吗",
							"answer": "预计深圳近两小时无降雨",
							"keyword": "两小时 下雨",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "0",
							"aword": "今天深圳天气怎么样",
							"answer": "今天天气晴",
							"keyword": "{time} {cityname} 天气",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "1",
							"aword": "近两小时会下雨吗",
							"answer": "预计深圳近两小时无降雨",
							"keyword": "两小时 下雨",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "0",
							"aword": "今天深圳天气怎么样",
							"answer": "今天天气晴",
							"keyword": "{time} {cityname} 天气",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "1",
							"aword": "近两小时会下雨吗",
							"answer": "预计深圳近两小时无降雨",
							"keyword": "两小时 下雨",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						}
					]
				},
				"mulDialog": {
					"page": "1",
					"size": "10",
					"total": "100",
					"list": [{
							"isI": "0",
							"tname": "问天气",
							"nums": "10",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "1",
							"tname": "查快递",
							"nums": "10",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "0",
							"tname": "问天气",
							"nums": "10",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "1",
							"tname": "查快递",
							"nums": "10",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "0",
							"tname": "问天气",
							"nums": "10",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "1",
							"tname": "查快递",
							"nums": "10",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "0",
							"tname": "问天气",
							"nums": "10",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "1",
							"tname": "查快递",
							"nums": "10",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "0",
							"tname": "问天气",
							"nums": "10",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "1",
							"tname": "查快递",
							"nums": "10",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "0",
							"tname": "问天气",
							"nums": "10",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						},
						{
							"isI": "1",
							"tname": "查快递",
							"nums": "10",
							"updateDate": "2018-05-02 08:09:22",
							"state": "1"
						}
					]
				}
			},
			"info": "成功"
	});
	$.ajax({
	url: 'list.json',
	contentType: 'application/json',
	type: 'POST',
	timeout: 5000,
	dataType: 'JSON',
	data: '',
	success: function(res) {
		if(res.ret == 0) {
			console.log(res);
			$('<pre>').text(JSON.stringify(res, null, 4)).appendTo('body');
		} else {
			alert(res.message);
		}
	},
	Error: function(xhr, type, errorThrown) {
		console.log(JSON.stringify(xhr));
		console.log(type);
		console.log(errorThrown);
	}
	});
	})
</script>