<link rel="stylesheet" href="./res/css/index/index.css">
<div class="layui-fluid">
	<div class="robotManager">
		<div class="m m_robot">
			<p class="m_title m_name">机器人管理</p>
			<p class="m_search">
				<input id="key" type="text" placeholder="请输入关键字" autocomplete="off" class="layui-input">
				<i class="layui-icon" id="searchBtn"  data-type="getInfo">&#xe615;</i>
			</p>
			<p class="robot_curr" style="display: none;">1</p>
		</div>
		<div id="robotDiv">
			
		</div>
	</div>
</div>
<script src="res/js/init.js"></script>
<script type="text/javascript" src="res/js/index/index.js"></script>