<link rel="stylesheet" href="./res/css/index/newAbility.css">
<style>
	div.noborder .bootstrap-tagsinput {
		background-color: #fff;
		border: none;
		box-shadow: none;
		display: inline-block;
		padding: 4px 6px;
		color: #555;
		vertical-align: middle;
		border-radius: 2px;
		max-width: 100%;
		line-height: 22px;
		cursor: text;
		width: 100%;
		height: 100%;
	}
	
	div.noborder>div.borderActive {
		border: 1px solid #eaeaea;
	}
	
	div.answerDiv div.noborder {
		float: left;
		display: inline-block;
		margin: 0px;
		width: 30%;
		/*height: 38px;*/
	}
	
	div.modifyDiv {
		margin-top: 10px;
		display: inline-block;
		float: left;
		margin-left: 20px;
	}
	p.delModuleMsg{
		width:100%;
		text-align: center;
		padding:0px;
		margin-top:30px
	}
</style>
<!--主页-->
<div class="orderInfo">
	<p class="order_title"></p>
	<p class="order_icons"><img class="editIcon" src="./res/image/index/edit.png"><img class="delIcon" src="./res/image/index/del.png"></p>
</div>
<div class="mainDiv">

	<div class="content_normal">
		<div class="answerDiv">
			<div class="layui-form-item">
				<label class="layui-form-label">进入页面的触发问题：</label>
				<div class="layui-input-block noborder">
					<input name="enter_anwer" autocomplete="off" class="layui-input" type="text" data-role="tagsinput">

				</div>
				<div class="modifyDiv">
					<a href="javascript:void(0)" class="modify_token">修改</a>
					<input type="hidden" class="dokeyId">
				</div>
			</div>
		</div>
		<div class="abilityDiv">
			<button type="button" class="layui-btn">能力管理</button>
			<p class="info">说明：此处添加的对话库仅适用于该页面</p>
			<div class="abilityList">
				<ul>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="dialog_content">
	<div class="orderInfo">
		<p>自定义对话</p>
	</div>
	<div class="dialog">
		<div class="layui-tab layui-tab-brief" lay-filter="dialogBrief">
			<ul class="layui-tab-title">
				<li class="layui-nav-item layui-this" aptype="1">
					<a href="javascript:void(0)" class="mohumatch">单轮问答</a>
				</li>
			</ul>
			<div class="panel-right layui-col-xs12 layui-col-lg6">
				<div class="">
					<form class="layui-form" action="">
						<div class="searchInput layui-input-inline">
							<input id="s_key" type="text" name="msg" placeholder="请输入关键字" autocomplete="off" class="layui-input">
							<i id="d_search_btn" class="layui-icon"></i>
						</div>
						<input type="checkbox" name="" title="接口" lay-skin="primary">
						<select name="state" lay-verify="" class="layui-select-inline">
							<option value="" selected>全部</option>
							<option value="1">启用</option>
							<option value="2">禁用</option>
						</select>
						<input type="hidden" id="typename" value="">
						<button type="button" class="layui-btn layui-btn-normal searching" data-type="reload">搜索</button>
					</form>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="layui-tab-content">
				<div class="add_answer_div">
					<a href="javascript:void(0)"><button id="addAnswer" class="add_answer layui-btn layui-btn-normal" title="单轮对话" name="添加问答"><i class="layui-icon">&#xe654;</i>添加问答</button></a>
				</div>

				<div class="layui-tab-item layui-show">
					<table id="s-answer-grid" lay-filter="demo1"></table>
					<div id="page1"></div>
				</div>
				<script type="text/html" id="switchTpl">
					<input type="checkbox" name="state" value="{{d.id}}" lay-skin="switch" lay-filter="state1" {{ d.state==1 ? 'checked' : '' }}>
				</script>
			</div>
		</div>

	</div>
</div>

<div class="abilitys" style="display: none;" id="show_ability">
	<input type="text" id="sid" style="display:none">
	<!--<input name="editenter_anwer" autocomplete="off" class="layui-input" type="text" data-role="tagsinput" value="345">-->
	<div class="searchInput1 layui-input-inline">
		<input id="ab_key" type="text" name="msg" placeholder="请输入要查询的技能，如：天气" autocomplete="off" class="layui-input">
		<i id="d_search_btn" class="layui-icon"></i>
	</div>
	<div style="clear: both;"></div>
	<div class="allAbility">
		<div class="shared">
			<p class="a_t">●&nbsp;已共享</p>
			<ul>

			</ul>
		</div>
        <div class="share">
			<p class="a_t">●&nbsp;未共享</p>
			<ul>

			</ul>
		</div>
	</div>
</div>
<div id="idEdit" style="display: none;">
	<input type="text" style="display:none" id="modifyMsg">
	<div class="layui-form-item">
		<label class="layui-form-label">情景模块名称：</label>
		<div class="layui-input-block">
			<input type="text" name="editmodel" lay-verify="required|model" placeholder="请输入模块名称" autocomplete="off" class="layui-input ch_name">
		</div>
	</div>
</div>
<div id="idDel" style="display: none;">
	<p class='delModuleMsg'>您确定要删除改情景模块吗？</p>
</div>
<script type="text/javascript" src="res/js/index/page.js"></script>
<script type="text/javascript" src="res/js/index/loadTable.js"></script>