<link rel="stylesheet" href="./res/css/interface/index.css">
<div class="layui-fluid">
	<div class="robotManager">
		<div class="m m_interface">
			<p class="m_title m_name">我的数据接口</p>
			<p class="m_search">
				<input id="key" type="text" name="name" placeholder="请输入接口名称" autocomplete="off" class="layui-input">
				<i class="layui-icon" id="searchBtn" data-type="reload">&#xe615;</i>
			</p>
			<p class="interface_curr" style="display: none;">1</p>
		</div>
		<div id="interfaceDiv">
			
		</div>
	</div>
</div>
<script src="res/js/init.js"></script>
<script type="text/javascript" src="res/js/interface/index.js"></script>