<link rel="stylesheet" href="./res/css/wordBank/index.css">
<div class="layui-fluid">
	<div class="robotManager">
		<div class="m m_wordbank">
			<p class="m_title m_name">我的词库</p>
			<p class="m_search">
				<input id="key" type="text" name="name" placeholder="请输入词名" autocomplete="off" class="layui-input">
				<i class="layui-icon" id="searchBtn"  data-type="getInfo">&#xe615;</i>
			</p>
			<p class="wordbank_curr" style="display: none;">1</p>
		</div>
		<div id="wordbankDiv">
		
		</div>
	</div>
</div>
<script src="res/js/init.js"></script>
<script type="text/javascript" src="res/js/wordBank/index.js"></script>
